{% extends 'user_templates/base.html' %} {% load static %} {% block title %}User Dashboard{% endblock %} {% block content_title %}Dashboard{% endblock %} {% block main_content %}
<!-- Widgets -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2 class="card-inside-title">User Information</h2>
                <div class="row clearfix">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-3">
                                <h2 class="card-inside-title">Name</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Full Name"
                                            value="Kalpesh Wankhede" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <h2 class="card-inside-title">Employee Number</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Employee Number"
                                            value="30761594" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <h2 class="card-inside-title">Shift</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <select class="form-control show-tick">
                                            <option>Morning</option>
                                            <option>Afternoon</option>
                                            <option>Night</option>
                                            <option>General</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <h2 class="card-inside-title">Operation</h2>
                                <div class="form-group">
                                    <div class="form-line">
                                        <select class="form-control show-tick">
                                            <option>Cleaning</option>
                                            <option>Internal Grinding</option>
                                            <option>External Grinding</option>
                                            <option>Chamfer Grinding</option>
                                            <option>Laser Marking</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}