{% load static %}
<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
        <div class="image">
            <img src="{% static 'images/user.png' %}" width="48" height="48" alt="User" />
        </div>
        <div class="info-container">
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
            <div class="email">john.doe@example.com</div>
            <div class="btn-group user-helper-dropdown">
                <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                <ul class="dropdown-menu pull-right">
                    <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="header">NAVIGATION</li>
            <li>
                <a href="#">
                    <i class="material-icons">home</i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">person</i>
                    <span>User Management</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="#">Register Users</a>
                    </li>
                    <li>
                        <a href="#">Manage Users</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">share</i>
                    <span>Department Management</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="#">Create Departments</a>
                    </li>
                    <li>
                        <a href="#">Manage Departments</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">swap_calls</i>
                    <span>Operation Management</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="#">Register Operations</a>
                    </li>
                    <li>
                        <a href="#">Manage Operations</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">nature</i>
                    <span>Asset Management</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="#">Create Assets</a>
                    </li>
                    <li>
                        <a href="#">Manage Assets</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">edit</i>
                    <span>Product Management</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="#">Register Products</a>
                    </li>
                    <li>
                        <a href="#">Manage Products</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">assessment</i>
                    <span>Reports</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="#">Production Reports</a>
                    </li>
                    <li>
                        <a href="#">Department Reports</a>
                    </li>
                    <li>
                        <a href="#">User Reports</a>
                    </li>
                    <li>
                        <a href="#">Operation Reports</a>
                    </li>
                    <li>
                        <a href="#">Asset Reports</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            &copy; 2021 - 2026 <a href="javascript:void(0);"> Matrix NX</a>.
        </div>
        <div class="version">
            <b>Version: </b> 1.0.1
        </div>
    </div>
    <!-- #Footer -->
</aside>
<!-- #END# Left Sidebar -->